.DS_Store
.vscode
.idea
.github
__pycache__
*.pyc
*.egg-info
*.pt
*.onnx
anylabeling/data
/data
/dist
/build
/wheels_dist
*_ui.py
anylabeling/app_info.py-*
zipped_models/*
venv/
cuda_12.8.1_572.61_windows.exe
